<footer class="page-footer font-small bg-secondary pt-4">

  <div class="container">
    
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <!--Icones das redes sociais-->
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">

          <!--Facebook-->
          <li>
            <a href="https://www.facebook.com/amanda.brito.10" target="_blank" class="icoFacebook">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>
          <!--/Facebook-->

          <!--Instagram-->
          <li>
            <a href="https://www.instagram.com/amandlk_/" target="_blank" class="icoInstagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <!--/Instagram-->

          <!--Linkedin-->
          <li>
            <a href="https://www.linkedin.com/in/perfil-amandabrito/" target="_blank" class="icoLinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <!--/Linkedin-->

      </div>
    </div>
    <!--/Icones das redes sociais-->
  </div>

  <!--Copyright-->
  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> Amanda Brito. Copyright 2021 © </span>
  </div>
  <!--/Copyright-->

</footer>
