<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <!--Login-->
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <!--Campo textual-->
                    <h1 class="text-center mb-3">Entrar</h1>
                    <!--/Campo textual-->

                    <!--Cadastro senha do usuário-->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input [(ngModel)]='classeUsuarioLogin.email' class="form-control" type="text" name="email" id="email" placeholder="Seu email">
                    </div>
                    <!--/Cadastro senha do usuário-->

                    <!--Campo senha-->
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input [(ngModel)]='classeUsuarioLogin.senha' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>
                    <!--/Campo senha-->

                    <!--Botão entrar-->
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success" (click)='entrar()'>Entrar</button>
                    </div>
                    <!--/Botão entrar-->

                    <!--Divisor tracejado-->
                    <hr class="mt-5 mb-5">
                    <!--/Divisor tracejado-->

                    <!--Opção para ser direcionado(a) -->
                    <p class="text-center">
                        Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
                    </p>
                    <!--/Opção para ser direcionado(a) -->
                    
                </div>
            </div>
        </div>
        <!--/Login-->

        <!--Background-->
        <div class="col-md-6" id="img-bg"></div>
        <!--/Background-->

    </div>
</div>